openapi: 3.0.3
info:
  title: Ekşi Sözlük API
  description: |
    Unofficial API documentation for Ekşi Sözlük (eksisozluk.com), reverse-engineered
    from the Android app v2.4.10 (build 144).

    ## Authentication

    All authenticated requests require two headers:
    - `Authorization: Bearer <access_token>`
    - `Client-Secret: <uuid>`

    Both are obtained via the login flow. See the `/token` endpoint.

    ## Api-Secret

    The `Api-Secret` field in auth requests is an RSA/ECB/PKCS1Padding encrypted token
    containing a crafted plaintext. See [eksi_auth.py](./eksi_auth.py) for the full
    generation algorithm.

    ## Cloudflare

    The API is behind Cloudflare. Python clients must use `curl_cffi` with
    `impersonate="chrome110"` to mimic Chrome's TLS fingerprint.
  version: "2.4.10"
  contact:
    name: eksiapi
  license:
    name: MIT

servers:
  - url: https://api.eksisozluk.com
    description: Production API

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret

  headers:
    UserAgent:
      schema:
        type: string
        example: "eksisozluk-android/144"

  schemas:
    ApiResponse:
      type: object
      properties:
        Data:
          description: Response payload (type varies per endpoint)
        Success:
          type: boolean
        Message:
          type: string
          nullable: true
        StatusCode:
          type: integer

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
        userName:
          type: string
        ".issued":
          type: string
          format: date-time
        ".expires":
          type: string
          format: date-time

    AnonymousTokenBody:
      type: object
      required: [DeviceModel, Platform, Version, Build, Api-Secret, Client-Secret, ClientUniqueId]
      properties:
        DeviceModel:
          type: string
          example: "Google sdk_gphone_x86_64"
        Platform:
          type: string
          example: "g"
        Version:
          type: string
          example: "2.4.10"
        Build:
          type: integer
          example: 144
        Api-Secret:
          type: string
          description: RSA-encrypted token (see eksi_auth.py)
        Client-Secret:
          type: string
          format: uuid
        ClientUniqueId:
          type: string
          format: uuid

    LoginBody:
      allOf:
        - $ref: '#/components/schemas/AnonymousTokenBody'
        - type: object
          required: [grant_type, username, password]
          properties:
            grant_type:
              type: string
              enum: [password]
            username:
              type: string
            password:
              type: string

    RefreshTokenBody:
      allOf:
        - $ref: '#/components/schemas/AnonymousTokenBody'
        - type: object
          required: [grant_type, refresh_token]
          properties:
            grant_type:
              type: string
              enum: [refresh_token]
            refresh_token:
              type: string

    IdForm:
      type: object
      required: [Id]
      properties:
        Id:
          type: integer
          minimum: 1

    NickForm:
      type: object
      required: [nick]
      properties:
        nick:
          type: string
          minLength: 1

    EntryForm:
      type: object
      required: [Title, Content]
      properties:
        Title:
          type: string
        Content:
          type: string

    SendMessageBody:
      type: object
      required: [message, to, threadId]
      properties:
        message:
          type: string
        to:
          type: string
        threadId:
          type: integer
          minimum: 0

security:
  - bearerAuth: []
    clientSecret: []

paths:

  # ── Authentication ──────────────────────────────────────────────────────────

  /v2/clientsettings/time:
    get:
      tags: [Auth]
      summary: Get server timestamp
      description: Returns current server time in milliseconds. Required as input for Api-Secret generation.
      security: []
      responses:
        '200':
          description: Server timestamp
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      Data:
                        type: integer
                        example: 1774216389918

  /v2/account/anonymoustoken:
    post:
      tags: [Auth]
      summary: Get anonymous bearer token
      description: |
        First step of login flow. Obtain an anonymous Bearer token used as Authorization
        header for the subsequent /token call.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AnonymousTokenBody'
      responses:
        '200':
          description: Anonymous token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      Data:
                        type: object
                        properties:
                          AccessToken:
                            type: string
                          ExpiresIn:
                            type: integer

  /token:
    post:
      tags: [Auth]
      summary: Login with credentials
      description: |
        Full login. Requires an anonymous Bearer token in the Authorization header
        (obtained from /v2/account/anonymoustoken). Returns access_token and other
        OAuth fields.
      security:
        - bearerAuth: []
          clientSecret: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/LoginBody'
                - $ref: '#/components/schemas/RefreshTokenBody'
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  # ── User ────────────────────────────────────────────────────────────────────

  /v2/user/me:
    get:
      tags: [User]
      summary: Authenticated user profile
      responses:
        '200':
          description: Current user's profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/user/isdeveloper:
    get:
      tags: [User]
      summary: Check if current user has developer status
      responses:
        '200':
          description: Developer status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/user/{nick}:
    get:
      tags: [User]
      summary: Public profile for any user
      parameters:
        - name: nick
          in: path
          required: true
          schema:
            type: string
          example: agmmnn
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/user/{nick}/entries:
    get:
      tags: [User]
      summary: Entries authored by a user
      parameters:
        - name: nick
          in: path
          required: true
          schema:
            type: string
        - name: p
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
      responses:
        '200':
          description: Paginated entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/user/{nick}/favorites:
    get:
      tags: [User]
      summary: Entries favorited by a user
      parameters:
        - name: nick
          in: path
          required: true
          schema:
            type: string
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Paginated favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Entries ─────────────────────────────────────────────────────────────────

  /v2/entry/{id}:
    get:
      tags: [Entries]
      summary: Single entry by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Entry data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/entry/entriesbytopic:
    get:
      tags: [Entries]
      summary: Entries for a topic
      parameters:
        - name: title
          in: query
          required: true
          schema:
            type: string
          description: Topic slug or URL-encoded title
          example: python
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Paginated entries for topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/entry/search:
    get:
      tags: [Entries]
      summary: Search entries
      parameters:
        - name: searchTerm
          in: query
          required: true
          schema:
            type: string
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/entry/agenda:
    get:
      tags: [Entries]
      summary: Agenda entries
      parameters:
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Agenda entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Index / Trending ────────────────────────────────────────────────────────

  /v2/index/popular:
    post:
      tags: [Index]
      summary: Popular topics
      description: Returns popular topics, optionally filtered by channels.
      parameters:
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Filters:
                  type: array
                  items:
                    type: string
                  description: Channel filter IDs (empty array for all)
                  example: []
      responses:
        '200':
          description: Popular topics list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/index/today:
    get:
      tags: [Index]
      summary: Today's topics (gündem)
      parameters:
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Today's topic list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/index/getfilterchannels:
    get:
      tags: [Index]
      summary: Available filter channels for popular feed
      responses:
        '200':
          description: Channel list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Topics / Search ─────────────────────────────────────────────────────────

  /v2/topic/search:
    get:
      tags: [Topics]
      summary: Search topics
      parameters:
        - name: searchTerm
          in: query
          required: true
          schema:
            type: string
        - name: p
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Topic search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/topic/autocomplete:
    get:
      tags: [Topics]
      summary: Topic autocomplete suggestions
      parameters:
        - name: searchTerm
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Autocomplete suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/topic/unreadtopiccount:
    get:
      tags: [Topics]
      summary: Count of unread topics for authenticated user
      responses:
        '200':
          description: Unread topic count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Notifications ───────────────────────────────────────────────────────────

  /v2/notification/notificationcount:
    get:
      tags: [Notifications]
      summary: Notification count for authenticated user
      responses:
        '200':
          description: Notification count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /v2/notification/lastnotifications:
    get:
      tags: [Notifications]
      summary: Recent notifications
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Messages ────────────────────────────────────────────────────────────────

  /v2/message/unreadthreadauthors:
    get:
      tags: [Messages]
      summary: Authors with unread message threads
      responses:
        '200':
          description: Unread thread authors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Channels ────────────────────────────────────────────────────────────────

  /v2/channel/list:
    get:
      tags: [Channels]
      summary: Available channels
      responses:
        '200':
          description: Channel list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Billing ─────────────────────────────────────────────────────────────────

  /v2/billing/subscription/status:
    get:
      tags: [Billing]
      summary: Subscription status for authenticated user
      responses:
        '200':
          description: Subscription status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── APK 2.4.10 authenticated account surface ───────────────────────────────

  /v2/entry/add:
    post:
      tags: [Entry writes]
      summary: Publish a new entry
      x-eksi-risk: critical
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EntryForm'
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/edit:
    post:
      tags: [Entry writes]
      summary: Edit an entry
      x-eksi-risk: critical-destructive
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/EntryForm'
                - type: object
                  required: [Id]
                  properties: {Id: {type: integer, minimum: 1}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/edit/{entryId}:
    get:
      tags: [Entries]
      summary: Get the authenticated author's editable entry content
      parameters:
        - {name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}}
      responses:
        '200': {description: Editable entry, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/delete:
    post:
      tags: [Entry writes]
      summary: Delete an entry
      x-eksi-risk: critical-destructive
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/favorite:
    post:
      tags: [Entry actions]
      summary: Favorite an entry
      x-eksi-risk: medium
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/unfavorite:
    post:
      tags: [Entry actions]
      summary: Remove an entry favorite
      x-eksi-risk: medium
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/vote:
    post:
      tags: [Entry actions]
      summary: Vote on an entry
      x-eksi-risk: medium
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/IdForm'
                - type: object
                  required: [Rate]
                  properties: {Rate: {type: integer, enum: [-1, 1]}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/entry/vote/remove:
    post:
      tags: [Entry actions]
      summary: Remove the authenticated user's entry vote
      x-eksi-risk: medium
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/topic/follow:
    post:
      tags: [Topic actions]
      summary: Follow a topic
      x-eksi-risk: medium
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/topic/unfollow:
    post:
      tags: [Topic actions]
      summary: Unfollow a topic
      x-eksi-risk: medium
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/user/block:
    post:
      tags: [User actions]
      summary: Block a user
      x-eksi-risk: high
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/NickForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/user/unblock:
    post:
      tags: [User actions]
      summary: Unblock a user
      x-eksi-risk: high
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/NickForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/message/thread/Nick/{username}:
    get:
      tags: [Messages]
      summary: Read a message thread
      x-eksi-risk: sensitive-read
      parameters:
        - {name: username, in: path, required: true, schema: {type: string}}
        - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}}
      responses:
        '200': {description: Message thread, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/message/archivethread/Nick/{username}:
    get:
      tags: [Messages]
      summary: Read an archived message thread
      x-eksi-risk: sensitive-read
      parameters:
        - {name: username, in: path, required: true, schema: {type: string}}
      responses:
        '200': {description: Archived thread, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/message/sendmessage:
    post:
      tags: [Messages]
      summary: Send a direct message
      x-eksi-risk: critical-external-communication
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/SendMessageBody'}}}}
      responses:
        '200': {description: Send result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/message/markread/nick:
    post:
      tags: [Messages]
      summary: Mark a user's message thread read
      x-eksi-risk: low
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/NickForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/message/deleteprocessthread:
    post:
      tags: [Messages]
      summary: Delete message threads up to selected message IDs
      x-eksi-risk: critical-destructive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ThreadIdList]
              properties:
                ThreadIdList:
                  type: array
                  items:
                    type: object
                    required: [ThreadId, MaxMessageId]
                    properties:
                      ThreadId: {type: integer}
                      MaxMessageId: {type: integer}
      responses:
        '200': {description: Delete result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/topic/savedraft:
    post:
      tags: [Drafts]
      summary: Save or update an entry draft
      x-eksi-risk: medium
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/EntryForm'}}}}
      responses:
        '200': {description: Draft result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/topic/deletedraft:
    post:
      tags: [Drafts]
      summary: Delete an entry draft by title
      x-eksi-risk: high-destructive
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [Title]
              properties: {Title: {type: string}}
      responses:
        '200': {description: Draft result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/settings/get/personal:
    get:
      tags: [Settings]
      summary: Read personal account settings
      x-eksi-risk: sensitive-read
      responses:
        '200': {description: Personal settings, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/settings/get/preferences:
    get:
      tags: [Settings]
      summary: Read account preferences
      x-eksi-risk: sensitive-read
      responses:
        '200': {description: Preferences, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/settings/set/preferences:
    post:
      tags: [Settings]
      summary: Update account preferences
      x-eksi-risk: high
      requestBody: {required: true, content: {application/json: {schema: {type: object}}}}
      responses:
        '200': {description: Settings result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/trash:
    get:
      tags: [Trash]
      summary: List deleted entries in the account trash
      x-eksi-risk: sensitive-read
      responses:
        '200': {description: Trash contents, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/trash/delete:
    post:
      tags: [Trash]
      summary: Permanently delete an item from trash
      x-eksi-risk: critical-destructive
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Delete result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/trash/empty:
    post:
      tags: [Trash]
      summary: Permanently empty account trash
      x-eksi-risk: critical-destructive
      responses:
        '200': {description: Empty result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}

  /v2/trash/resurrect:
    post:
      tags: [Trash]
      summary: Restore an entry from trash
      x-eksi-risk: high
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Restore result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
