openapi: 3.0.3
info:
  title: Ekşi Sözlük Mobile API (Unofficial)
  description: |-
    Unofficial HTTP API reference for Ekşi Sözlük, reverse-engineered from Android app 2.4.10 build 144. This project is not affiliated with Ekşi Teknoloji.

    ## Authentication modes

    Public reads still require an app bearer token. Use the anonymous-token flow when no user account is needed. Account reads and all writes require a logged-in account token. Secured requests send both `Authorization: Bearer <access_token>` and `Client-Secret: <uuid>`.

    ## Api-Secret

    Authentication requests include an `Api-Secret` form field containing RSA/ECB/PKCS1Padding encrypted app metadata. See the [reverse-engineering notes](https://github.com/agmmnn/eksiapi/blob/master/docs/apk-analysis.md) and [Python implementation](https://github.com/agmmnn/eksiapi/blob/master/eksiapi/auth.py).

    ## Running requests

    The generated Postman collection can create anonymous and account sessions without Python. Its authentication scripts generate `Api-Secret` and keep credentials and session values in Postman Local Vault. When using the OpenAPI contract in another client, supply `Api-Secret`, bearer-token and `Client-Secret` values yourself. Never publish or share account passwords, access tokens, refresh tokens or client secrets.

    ## Stability

    This is an unofficial reverse-engineered contract. Endpoint behavior may change when the Android application is updated. Operations marked with `x-eksi-risk` change account state or expose private account data.
  version: "2.4.10-build.144"
  contact:
    name: eksiapi
    url: https://github.com/agmmnn/eksiapi
  license:
    name: MIT
    url: https://github.com/agmmnn/eksiapi/blob/master/LICENSE
servers:
- url: https://api.eksisozluk.com
  description: Production API

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Anonymous app bearer for public reads or account bearer for private reads and writes.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret

      description: Per-session UUID returned or created during authentication. Do not publish a real value.
  headers:
    UserAgent:
      schema:
        type: string
        example: "eksisozluk-android/144"

  schemas:
    ApiResponse:
      type: object
      properties:
        Data:
          description: Response payload (type varies per endpoint)
        Success:
          type: boolean
          example: true
        Message:
          type: string
          nullable: true
          example:
        StatusCode:
          type: integer
          example: 200

      required:
      - Success
      - Data
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          example: <account-access-token>
        token_type:
          type: string
          example: bearer
        expires_in:
          type: integer
          example: 3600
        refresh_token:
          type: string
          example: <refresh-token>
        userName:
          type: string
          example: example-user
        ".issued":
          type: string
          format: date-time
          example: '2026-08-07T12:00:00Z'
        ".expires":
          type: string
          format: date-time
          example: '2026-08-07T13:00:00Z'

    AnonymousTokenBody:
      type: object
      required: [DeviceModel, Platform, Version, Build, Api-Secret, Client-Secret, ClientUniqueId]
      properties:
        DeviceModel:
          type: string
          example: "Google sdk_gphone_x86_64"
        Platform:
          type: string
          example: "g"
        Version:
          type: string
          example: "2.4.10"
        Build:
          type: integer
          example: 144
        Api-Secret:
          type: string
          description: RSA-encrypted token generated by the SDK authentication helper.
          example: <generated-api-secret>
        Client-Secret:
          type: string
          format: uuid
          example: 00000000-0000-4000-8000-000000000000
        ClientUniqueId:
          type: string
          format: uuid
          example: 00000000-0000-4000-8000-000000000000

    LoginBody:
      allOf:
      - $ref: '#/components/schemas/AnonymousTokenBody'
      - type: object
        required: [grant_type, username, password]
        properties:
          grant_type:
            type: string
            enum: [password]
          username:
            type: string
            example: <username>
          password:
            type: string
            format: password
            example: <password>

    RefreshTokenBody:
      allOf:
      - $ref: '#/components/schemas/AnonymousTokenBody'
      - type: object
        required: [grant_type, refresh_token]
        properties:
          grant_type:
            type: string
            enum: [refresh_token]
          refresh_token:
            type: string
            example: <refresh-token>

    IdForm:
      type: object
      required: [Id]
      properties:
        Id:
          type: integer
          minimum: 1
          example: 1

    NickForm:
      type: object
      required: [nick]
      properties:
        nick:
          type: string
          minLength: 1
          example: example-user

    EntryForm:
      type: object
      required: [Title, Content]
      properties:
        Title:
          type: string
          example: example topic
        Content:
          type: string
          example: Example entry content.

    SendMessageBody:
      type: object
      required: [message, to, threadId]
      properties:
        message:
          type: string
          example: Example message.
        to:
          type: string
          example: example-user
        threadId:
          type: integer
          minimum: 0
          example: 0

    ErrorResponse:
      type: object
      required:
      - Message
      properties:
        Success:
          type: boolean
          example: false
        Message:
          type: string
          example: Invalid request.
        Data:
          nullable: true
        StatusCode:
          type: integer
          example: 400
    EntryAuthor:
      type: object
      required:
      - Nick
      - Id
      properties:
        Nick:
          type: string
          example: example-user
        Id:
          type: integer
          example: 42
    Entry:
      type: object
      required:
      - Id
      - Content
      - Author
      - Created
      properties:
        Id:
          type: integer
          example: 1
        Content:
          type: string
          example: Example entry content.
        Author:
          $ref: '#/components/schemas/EntryAuthor'
        Created:
          type: string
          format: date-time
          example: '2026-08-07T12:00:00Z'
        LastUpdated:
          type: string
          format: date-time
          nullable: true
          example:
        IsFavorite:
          type: boolean
          example: false
        FavoriteCount:
          type: integer
          example: 0
        LikeCount:
          type: integer
          example: 0
        CommentCount:
          type: integer
          example: 0
        AvatarUrl:
          type: string
          format: uri
          example: https://example.com/avatar.png
    TopicIndexItem:
      type: object
      required:
      - TopicId
      - Title
      - MatchedCount
      - FullCount
      properties:
        Day:
          type: string
          nullable: true
        MatchedCount:
          type: integer
          example: 24
        TopicId:
          type: integer
          example: 123
        FullCount:
          type: integer
          example: 1888
        Title:
          type: string
          example: example topic
    Channel:
      type: object
      required:
      - Id
      - Name
      - DisplayName
      - IsPublic
      properties:
        Id:
          type: integer
          example: 1
        Name:
          type: string
          example: gundem
        DisplayName:
          type: string
          example: Gündem
        Description:
          type: string
          example: Example channel description.
        Priority:
          type: integer
          example: 1
        IsPublic:
          type: boolean
          example: true
    EntryTopicResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          Data:
            type: object
            required:
            - Id
            - Title
            - Entries
            - PageCount
            - PageSize
            - PageIndex
            properties:
              Id:
                type: integer
                example: 1
              Title:
                type: string
                example: example topic
              Entries:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
              PageCount:
                type: integer
                example: 1
              PageSize:
                type: integer
                example: 10
              PageIndex:
                type: integer
                example: 1
    TopicListResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          Data:
            type: object
            required:
            - Topics
            - PageCount
            - PageSize
            - PageIndex
            properties:
              Topics:
                type: array
                items:
                  $ref: '#/components/schemas/TopicIndexItem'
              PageCount:
                type: integer
                example: 1
              PageSize:
                type: integer
                example: 50
              PageIndex:
                type: integer
                example: 1
    ChannelListResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          Data:
            type: object
            required:
            - AllChannels
            properties:
              AllChannels:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
    UserIdentifier:
      type: object
      required:
      - Nick
      - Id
      properties:
        Nick:
          type: string
          example: agmmnn
        Id:
          type: integer
          example: 42
    UserProfileResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          Data:
            type: object
            required:
            - UserInfo
            - FollowerCount
            - FollowingsCount
            properties:
              UserInfo:
                type: object
                properties:
                  UserIdentifier:
                    $ref: '#/components/schemas/UserIdentifier'
                  IsCaylak:
                    type: boolean
                    example: false
                  IsBuddy:
                    type: boolean
                    example: false
                  IsBlocked:
                    type: boolean
                    example: false
                  IsFollowed:
                    type: boolean
                    example: false
              Badges:
                type: array
                items:
                  type: object
              ImageBadges:
                type: array
                items:
                  type: object
              FollowerCount:
                type: integer
                example: 0
              FollowingsCount:
                type: integer
                example: 0
              Picture:
                type: string
                format: uri
                nullable: true
                example: https://example.com/avatar.png
              PinnedEntry:
                nullable: true
              Biograpyh:
                type: string
                nullable: true
                example: Example biography.
  responses:
    BadRequest:
      description: The request body or parameters are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Success: false
            Message: Invalid request.
            Data:
            StatusCode: 400
    Unauthorized:
      description: The bearer token, Client-Secret or authentication flow is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Success: false
            Message: Authorization has been denied for this request.
            Data:
            StatusCode: 401
    Forbidden:
      description: The logged-in account cannot perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Success: false
            Message: This operation is not allowed for the account.
            Data:
            StatusCode: 403
    NotFound:
      description: The requested topic, entry, user or account object was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Success: false
            Message: The requested resource was not found.
            Data:
            StatusCode: 404
    RateLimited:
      description: The upstream API rate limit was reached.
      headers:
        Retry-After:
          description: Seconds to wait before another safe read.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Success: false
            Message: Too many requests.
            Data:
            StatusCode: 429
  parameters:
    ClientSecretHeader:
      name: Client-Secret
      in: header
      required: true
      description: Per-session client UUID. Use a local Postman variable and never publish a real value.
      schema:
        type: string
        format: uuid
      example: '{{clientSecret}}'
security:
- bearerAuth: []
  clientSecret: []

paths:

  # ── Authentication ──────────────────────────────────────────────────────────

  /v2/clientsettings/time:
    get:
      tags:
      - Authentication
      summary: Get server timestamp
      operationId: getServerTimestamp
      description: Returns current server time in milliseconds. Required as input for Api-Secret generation. This endpoint does not require a bearer token.
      x-eksi-auth-mode: none
      security: []
      responses:
        '200':
          description: Server timestamp
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    Data:
                      type: integer
                      example: 1774216389918

  /v2/account/anonymoustoken:
    post:
      tags:
      - Authentication
      summary: Get anonymous bearer token
      operationId: getAnonymousBearerToken
      description: Obtain an anonymous bearer token for public reads or as the first step of account login. This endpoint does not require an existing bearer token, but the generated Client-Secret must be sent in the header and form body.
      x-eksi-auth-mode: authentication-flow
      security: []
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AnonymousTokenBody'
      responses:
        '200':
          description: Anonymous token
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    Data:
                      type: object
                      properties:
                        AccessToken:
                          type: string
                        ExpiresIn:
                          type: integer

              example:
                Success: true
                Message:
                Data:
                  AccessToken: <anonymous-access-token>
                  ExpiresIn: 3600
        '400':
          $ref: '#/components/responses/BadRequest'
  /token:
    post:
      tags:
      - Authentication
      summary: Login with credentials
      operationId: loginWithCredentials
      description: |-
        Full login. Requires an anonymous Bearer token in the Authorization header (obtained from /v2/account/anonymoustoken). Returns access_token and other OAuth fields. An anonymous bearer token and Client-Secret header are required before exchanging account credentials or a refresh token.
      x-eksi-auth-mode: authentication-flow
      security:
      - bearerAuth: []
        clientSecret: []
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
              - $ref: '#/components/schemas/LoginBody'
              - $ref: '#/components/schemas/RefreshTokenBody'
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  # ── User ────────────────────────────────────────────────────────────────────

              example:
                access_token: <account-access-token>
                token_type: bearer
                expires_in: 3600
                refresh_token: <refresh-token>
                userName: example-user
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/user/isdeveloper:
    get:
      tags:
      - Profiles
      summary: Check if current user has developer status
      operationId: checkIfCurrentUserHasDeveloperStatus
      description: Check if current user has developer status. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Developer status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/{nick}:
    get:
      tags:
      - Profiles
      summary: Public profile for any user
      operationId: getUserProfile
      description: Public profile for any user. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: nick
        in: path
        required: true
        schema:
          type: string
        example: agmmnn
        description: Ekşi Sözlük nickname.
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
              example:
                Success: true
                Message:
                Data:
                  UserInfo:
                    UserIdentifier:
                      Nick: agmmnn
                      Id: 42
                    IsCaylak: false
                    IsBuddy: false
                    IsBlocked: false
                    IsFollowed: false
                  Badges: []
                  ImageBadges: []
                  FollowerCount: 10
                  FollowingsCount: 5
                  Picture:
                  PinnedEntry:
                  Biograpyh: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/{nick}/entries:
    get:
      tags:
      - Profiles
      summary: Entries authored by a user
      operationId: listUserEntries
      description: Entries authored by a user. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: nick
        in: path
        required: true
        schema:
          type: string
        description: Ekşi Sözlük nickname.
        example: agmmnn
      - name: p
        in: query
        schema:
          type: integer
          default: 1
        description: Page number
        example: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Paginated entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/{nick}/favorites:
    get:
      tags:
      - Profiles
      summary: Entries favorited by a user
      operationId: listUserFavorites
      description: Entries favorited by a user. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: nick
        in: path
        required: true
        schema:
          type: string
        description: Ekşi Sözlük nickname.
        example: agmmnn
      - name: p
        in: query
        schema:
          type: integer
          default: 1
        description: Page number starting at 1.
        example: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Paginated favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Entries ─────────────────────────────────────────────────────────────────

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/entry/{id}:
    get:
      tags:
      - Entries
      summary: Single entry by ID
      operationId: getEntry
      description: Single entry by ID. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        example: 1
        description: Positive entry or account object identifier.
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Entry data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTopicResponse'
              example:
                Success: true
                Message:
                Data:
                  Id: 1
                  Title: pena
                  Entries:
                  - Id: 1
                    Content: Example entry content.
                    Author:
                      Nick: example-user
                      Id: 42
                    Created: '2004-02-15T00:00:00Z'
                    IsFavorite: false
                    FavoriteCount: 0
                    LikeCount: 0
                    CommentCount: 0
                  PageCount: 1
                  PageSize: 10
                  PageIndex: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/index/olay/:
    get:
      tags:
      - Entries
      summary: Agenda entries
      operationId: listAgendaEntries
      description: Agenda entries. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
        description: Page number starting at 1.
        example: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Agenda entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Index / Trending ────────────────────────────────────────────────────────

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/index/popular:
    post:
      tags:
      - Feeds
      summary: Popular topics
      operationId: listPopularTopics
      description: Returns popular topics, optionally filtered by channels. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
        description: Page number starting at 1.
        example: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Filters:
                  type: array
                  items:
                    type: string
                  description: Channel filter IDs (empty array for all)
                  example: []
      responses:
        '200':
          description: Popular topics list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicListResponse'
              example:
                Success: true
                Message:
                Data:
                  Topics:
                  - Day:
                    MatchedCount: 12
                    TopicId: 456
                    FullCount: 250
                    Title: popular example
                  PageCount: 1
                  PageSize: 50
                  PageIndex: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/index/today:
    get:
      tags:
      - Feeds
      summary: Today's topics (gündem)
      operationId: listTodayTopics
      description: Today's topics (gündem). An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
        description: Page number starting at 1.
        example: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Today's topic list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicListResponse'
              example:
                Success: true
                Message:
                Data:
                  Topics:
                  - Day: '2026-08-07'
                    MatchedCount: 24
                    TopicId: 123
                    FullCount: 1888
                    Title: example topic
                  PageCount: 1
                  PageSize: 50
                  PageIndex: 1
                  HasPinnedIndexItem: false
                  PinnedIndexItem:
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/index/getfilterchannels:
    get:
      tags:
      - Feeds
      summary: Available filter channels for popular feed
      operationId: listPopularFeedChannels
      description: Available filter channels for popular feed. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Channel list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/index/search/:
    post:
      tags:
      - Topics
      summary: Search topic titles
      operationId: searchTopics
      description: Searches topic titles using the Android app's index search.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [Keywords]
              properties:
                Keywords:
                  type: string
                SortOrder:
                  type: integer
                  default: 1
                FavoritedOnly:
                  type: boolean
                  default: false
                NiceOnly:
                  type: boolean
                  default: false
            example:
              Keywords: python
              SortOrder: 1
              FavoritedOnly: false
              NiceOnly: false
      responses:
        '200':
          description: Paginated topic search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/index/debe/:
    get:
      tags:
      - Feeds
      summary: Yesterday's most-liked entries
      operationId: listDebeEntries
      description: Returns the live debe feed exposed by the Android app.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Debe feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ── Topics / Search ─────────────────────────────────────────────────────────

  /v2/topic/query/:
    get:
      tags:
      - Topics
      summary: Resolve a topic term
      operationId: resolveTopic
      description: Resolves a title, slug or URL-like term to the topic router result used by the Android app.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: term
        in: query
        required: true
        schema:
          type: string
        example: python
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Topic routing result containing QueryData.TopicId when a topic matches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/topic/{topicId}:
    get:
      tags:
      - Topics
      summary: Read a topic page
      operationId: getTopic
      description: Returns topic metadata and one page of entries.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: topicId
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
        example: 109286
      - name: p
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Topic metadata and paginated entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTopicResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/topic/{topicId}/{actionName}:
    get:
      tags:
      - Topics
      summary: Read a filtered topic page
      operationId: getFilteredTopic
      description: Returns popular or today's entries for a topic.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: topicId
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: actionName
        in: path
        required: true
        schema:
          type: string
          enum: [popular, today]
      - name: p
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Filtered topic entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTopicResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/topic/search:
    post:
      tags:
      - Entries
      summary: Search entries inside a topic
      operationId: searchTopicEntries
      description: Searches entry bodies within one numeric topic id.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [TopicId, Keywords]
              properties:
                TopicId:
                  type: integer
                  minimum: 1
                Keywords:
                  type: string
            example:
              TopicId: 109286
              Keywords: python
      responses:
        '200':
          description: Matching entries and topic metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTopicResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/topic/search/advanced:
    post:
      tags:
      - Entries
      summary: Advanced search inside a topic
      operationId: advancedSearchTopicEntries
      description: Runs the Android app's advanced entry filters within one topic.
      x-eksi-auth-mode: anonymous
      parameters:
      - name: p
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [TopicId]
              additionalProperties: true
              properties:
                TopicId:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Matching entries and topic metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTopicResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/autocomplete/query:
    post:
      tags:
      - Topics
      summary: Autocomplete topics and queries
      operationId: autocompleteQuery
      description: Returns title, query and nick suggestions for a partial term.
      x-eksi-auth-mode: anonymous
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [Term]
              properties:
                Term:
                  type: string
      responses:
        '200':
          description: Autocomplete suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/autocomplete/nick:
    post:
      tags:
      - Profiles
      summary: Autocomplete nicknames
      operationId: autocompleteNicks
      description: Returns nickname suggestions for a partial term.
      x-eksi-auth-mode: anonymous
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [Term]
              properties:
                Term:
                  type: string
      responses:
        '200':
          description: Nickname suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/topic/unreadtopiccount:
    get:
      tags:
      - Topics
      summary: Count of unread topics for authenticated user
      operationId: countOfUnreadTopicsForAuthenticatedUser
      description: Count of unread topics for authenticated user. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Unread topic count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Notifications ───────────────────────────────────────────────────────────

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/notification/notificationcount:
    get:
      tags:
      - Notifications
      summary: Notification count for authenticated user
      operationId: notificationCountForAuthenticatedUser
      description: Notification count for authenticated user. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Notification count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/notification/lastnotifications:
    get:
      tags:
      - Notifications
      summary: Recent notifications
      operationId: listRecentNotifications
      description: Recent notifications. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Page number starting at 1.
        example: 1
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Messages ────────────────────────────────────────────────────────────────

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/unreadthreadauthors:
    get:
      tags:
      - Messages
      summary: Authors with unread message threads
      operationId: listUnreadMessageAuthors
      description: Authors with unread message threads. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Unread thread authors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── Channels ────────────────────────────────────────────────────────────────

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/channel/list:
    get:
      tags:
      - Feeds
      summary: Available channels
      operationId: listChannels
      description: Available channels. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Channel list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
              example:
                Success: true
                Message:
                Data:
                  AllChannels:
                  - Id: 1
                    Name: gundem
                    DisplayName: Gündem
                    Description: ''
                    Priority: 1
                    IsPublic: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/billing/subscription/status:
    get:
      tags:
      - Settings and devices
      summary: Subscription status for authenticated user
      operationId: getSubscriptionStatus
      description: Subscription status for authenticated user. A logged-in account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Subscription status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ── APK 2.4.10 authenticated account surface ───────────────────────────────

        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/add:
    post:
      tags:
      - Entries
      summary: Publish a new entry
      operationId: publishANewEntry
      description: Publish a new entry. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EntryForm'
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/edit:
    post:
      tags:
      - Entries
      summary: Edit an entry
      operationId: editAnEntry
      description: Edit an entry. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
              - $ref: '#/components/schemas/EntryForm'
              - type: object
                required: [Id]
                properties: {Id: {type: integer, minimum: 1}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/edit/{entryId}:
    get:
      tags:
      - Entries
      summary: Get the authenticated author's editable entry content
      operationId: getEditableEntry
      description: Get the authenticated author's editable entry content. A logged-in account bearer token and the Client-Secret header are required. The response contains private account data.
      x-eksi-auth-mode: account
      x-eksi-risk: sensitive-read
      parameters:
      - {name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}, description: Positive entry identifier., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Editable entry, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v2/entry/delete:
    post:
      tags:
      - Entries
      summary: Delete an entry
      operationId: deleteAnEntry
      description: Delete an entry. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/favorite:
    post:
      tags:
      - Entries
      summary: Favorite an entry
      operationId: favoriteAnEntry
      description: Favorite an entry. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/unfavorite:
    post:
      tags:
      - Entries
      summary: Remove an entry favorite
      operationId: removeAnEntryFavorite
      description: Remove an entry favorite. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/vote:
    post:
      tags:
      - Entries
      summary: Vote on an entry
      operationId: voteOnAnEntry
      description: Vote on an entry. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
              - $ref: '#/components/schemas/IdForm'
              - type: object
                required: [Rate]
                properties: {Rate: {type: integer, enum: [-1, 1]}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/vote/remove:
    post:
      tags:
      - Entries
      summary: Remove the authenticated user's entry vote
      operationId: removeTheAuthenticatedUserSEntryVote
      description: Remove the authenticated user's entry vote. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/topic/follow:
    post:
      tags:
      - Topics
      summary: Follow a topic
      operationId: followATopic
      description: Follow a topic. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/topic/unfollow:
    post:
      tags:
      - Topics
      summary: Unfollow a topic
      operationId: unfollowATopic
      description: Unfollow a topic. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/block:
    post:
      tags:
      - Relationships
      summary: Block a user
      operationId: blockAUser
      description: Block a user. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: high
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/NickForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/unblock:
    post:
      tags:
      - Relationships
      summary: Unblock a user
      operationId: unblockAUser
      description: Unblock a user. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: high
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/NickForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/thread/Nick/{username}:
    get:
      tags:
      - Messages
      summary: Read a message thread
      operationId: readAMessageThread
      description: Read a message thread. A logged-in account bearer token and the Client-Secret header are required. The response contains private account data.

      x-eksi-auth-mode: account
      x-eksi-risk: sensitive-read
      parameters:
      - {name: username, in: path, required: true, schema: {type: string}, description: Ekşi Sözlük nickname., example: agmmnn}
      - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Message thread, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/message/archivethread/Nick/{username}:
    get:
      tags:
      - Messages
      summary: Read an archived message thread
      operationId: readAnArchivedMessageThread
      description: Read an archived message thread. A logged-in account bearer token and the Client-Secret header are required. The response contains private account data.

      x-eksi-auth-mode: account
      x-eksi-risk: sensitive-read
      parameters:
      - {name: username, in: path, required: true, schema: {type: string}, description: Ekşi Sözlük nickname., example: agmmnn}
      - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Archived thread, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/message/archive:
    get:
      tags:
      - Messages
      summary: List archived message conversations
      operationId: listArchivedMessageConversations
      description: List archived message conversations. A logged-in account bearer token and the Client-Secret header are required. The response contains private account data.

      x-eksi-auth-mode: account
      x-eksi-risk: sensitive-read
      parameters:
      - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Message archive, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/thread/unread:
    post:
      tags:
      - Messages
      summary: Read an unread message conversation
      operationId: readAnUnreadMessageConversation
      description: Read an unread message conversation. A logged-in account bearer token and the Client-Secret header are required. The response contains private account data.

      x-eksi-auth-mode: account
      x-eksi-risk: sensitive-read
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [Nick, MarkRead]
              properties:
                Nick: {type: string}
                MarkRead: {type: boolean, default: false}
      responses:
        '200': {description: Message thread, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/sendmessage:
    post:
      tags:
      - Messages
      summary: Send a direct message
      operationId: sendADirectMessage
      description: Send a direct message. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-external-communication
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/SendMessageBody'}}}}
      responses:
        '200': {description: Send result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/markread/nick:
    post:
      tags:
      - Messages
      summary: Mark a user's message thread read
      operationId: markAUserSMessageThreadRead
      description: Mark a user's message thread read. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: low
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/NickForm'}}}}
      responses:
        '200': {description: Action result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/deleteprocessthread:
    post:
      tags:
      - Messages
      summary: Delete message threads up to selected message IDs
      operationId: deleteMessageThreadsUpToSelectedMessageIDs
      description: Delete message threads up to selected message IDs. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ThreadIdList]
              properties:
                ThreadIdList:
                  type: array
                  items:
                    type: object
                    required: [ThreadId, MaxMessageId]
                    properties:
                      ThreadId: {type: integer}
                      MaxMessageId: {type: integer}
      responses:
        '200': {description: Delete result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/archiveprocessthread:
    post:
      tags:
      - Messages
      summary: Move message conversations to the archive
      operationId: moveMessageConversationsToTheArchive
      description: Move message conversations to the archive. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: high
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ThreadIdList]
              properties:
                ThreadIdList:
                  type: array
                  items:
                    type: object
                    required: [ThreadId, MaxMessageId]
                    properties:
                      ThreadId: {type: integer, minimum: 1}
                      MaxMessageId: {type: integer, minimum: 1}
      responses:
        '200': {description: Archive result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/message/deleteprocessarchive:
    post:
      tags:
      - Messages
      summary: Permanently delete archived conversations
      operationId: permanentlyDeleteArchivedConversations
      description: Permanently delete archived conversations. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ArchiveIdList]
              properties:
                ArchiveIdList:
                  type: array
                  items:
                    type: object
                    required: [ArchiveId]
                    properties:
                      ArchiveId: {type: integer, minimum: 1}
      responses:
        '200': {description: Delete result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/comment/list/{entryId}:
    get:
      tags:
      - Comments
      summary: List comments for an entry
      operationId: listCommentsForAnEntry
      description: List comments for an entry. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters:
      - {name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}, description: Positive entry identifier., example: 1}
      - {name: page, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - {name: size, in: query, schema: {type: integer, minimum: 1, default: 20}, description: Number of records requested per page., example: 20}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Comments, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/comment/add:
    post:
      tags:
      - Comments
      summary: Add a comment to an entry
      operationId: addACommentToAnEntry
      description: Add a comment to an entry. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-external-communication
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {type: object, required: [Id, Content], properties: {Id: {type: integer}, Content: {type: string}}}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/comment/edit:
    post:
      tags:
      - Comments
      summary: Edit a comment
      operationId: editAComment
      description: Edit a comment. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {type: object, required: [Id, Content], properties: {Id: {type: integer}, Content: {type: string}}}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/comment/delete:
    post:
      tags:
      - Comments
      summary: Delete a comment
      operationId: deleteAComment
      description: Delete a comment. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: critical-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/comment/vote:
    post:
      tags:
      - Comments
      summary: Vote on a comment
      operationId: voteOnAComment
      description: Vote on a comment. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {type: object, required: [Id, Rate], properties: {Id: {type: integer}, Rate: {type: integer, enum: [-1, 1]}, Owner: {type: integer}}}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/comment/removevote:
    post:
      tags:
      - Comments
      summary: Remove a comment vote
      operationId: removeACommentVote
      description: Remove a comment vote. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {type: object, required: [Id, Rate], properties: {Id: {type: integer}, Rate: {type: integer, enum: [-1, 1]}}}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/entry/{entryId}/likes:
    get:
      tags:
      - Entries
      summary: List users who liked an entry
      operationId: listUsersWhoLikedAnEntry
      description: List users who liked an entry. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}, description: Positive entry identifier., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: User list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/entry/{entryId}/favorites:
    get:
      tags:
      - Entries
      summary: List users who favorited an entry
      operationId: listUsersWhoFavoritedAnEntry
      description: List users who favorited an entry. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}, description: Positive entry identifier., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: User list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/entry/{entryId}/caylaklikes:
    get:
      tags:
      - Entries
      summary: List çaylak users who liked an entry
      operationId: listCaylakUsersWhoLikedAnEntry
      description: List çaylak users who liked an entry. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}, description: Positive entry identifier., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: User list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/entry/{entryId}/caylakfavorites:
    get:
      tags:
      - Entries
      summary: List çaylak users who favorited an entry
      operationId: listCaylakUsersWhoFavoritedAnEntry
      description: List çaylak users who favorited an entry. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: entryId, in: path, required: true, schema: {type: integer, minimum: 1}, description: Positive entry identifier., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: User list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/{nick}/following:
    get:
      tags:
      - Profiles
      summary: List accounts followed by a user
      operationId: listAccountsFollowedByAUser
      description: List accounts followed by a user. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters:
      - {name: nick, in: path, required: true, schema: {type: string}, description: Ekşi Sözlük nickname., example: agmmnn}
      - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Following list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/{nick}/followers:
    get:
      tags:
      - Profiles
      summary: List a user's followers
      operationId: listAUserSFollowers
      description: List a user's followers. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters:
      - {name: nick, in: path, required: true, schema: {type: string}, description: Ekşi Sözlük nickname., example: agmmnn}
      - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Follower list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/{nick}/badges:
    get:
      tags:
      - Profiles
      summary: List a user's badges
      operationId: listAUserSBadges
      description: List a user's badges. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: nick, in: path, required: true, schema: {type: string}, description: Ekşi Sözlük nickname., example: agmmnn}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Badge list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/{nick}//images:
    get:
      tags:
      - Profiles
      summary: List images posted by a user
      operationId: listImagesPostedByAUser
      description: The double slash matches the Android 2.4.10 Retrofit contract. An anonymous or account bearer token and the Client-Secret header are required.
      x-eksi-auth-mode: anonymous

      parameters:
      - {name: nick, in: path, required: true, schema: {type: string}, description: Ekşi Sözlük nickname., example: agmmnn}
      - {name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Image list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/user/buddies:
    get:
      tags:
      - Relationships
      summary: List buddy users
      operationId: listBuddyUsers
      description: List buddy users. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Buddy list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/buddy-list:
    get:
      tags:
      - Relationships
      summary: List buddy relationships with pagination
      operationId: listBuddyRelationshipsWithPagination
      description: List buddy relationships with pagination. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters: [{name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Buddy list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/mute-list:
    get:
      tags:
      - Relationships
      summary: List muted users
      operationId: listMutedUsers
      description: List muted users. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters: [{name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Mute list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/block-list:
    get:
      tags:
      - Relationships
      summary: List blocked relationships
      operationId: listBlockedRelationships
      description: List blocked relationships. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters: [{name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Block list, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/blocks:
    get:
      tags:
      - Relationships
      summary: List blocked users
      operationId: listBlockedUsers
      description: List blocked users. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Blocked users, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/index-title-blocks:
    get:
      tags:
      - Relationships
      summary: List users hidden from index titles
      operationId: listUsersHiddenFromIndexTitles
      description: List users hidden from index titles. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Hidden users, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/index-title-block-list:
    get:
      tags:
      - Relationships
      summary: List index-title blocks with pagination
      operationId: listIndexTitleBlocksWithPagination
      description: List index-title blocks with pagination. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters: [{name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Hidden users, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/homepage/entries:
    get:
      tags:
      - Entries
      summary: Read the personalized homepage entry feed
      operationId: readThePersonalizedHomepageEntryFeed
      description: Read the personalized homepage entry feed. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters: [{name: p, in: query, schema: {type: integer, minimum: 1, default: 1}, description: Page number starting at 1., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Homepage entries, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/index/offlinedebe:
    get:
      tags:
      - Feeds
      summary: Read the offline debe feed
      operationId: readTheOfflineDebeFeed
      description: Read the offline debe feed. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: fromDate, in: query, schema: {type: string, format: date}, description: Return records starting from this date., example: '2026-08-07'}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Debe entries, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/topic/gettopiccreatorinfo:
    get:
      tags:
      - Topics
      summary: Get topic creator information
      operationId: getTopicCreatorInformation
      description: Get topic creator information. An anonymous or account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: anonymous
      parameters: [{name: topicId, in: query, required: true, schema: {type: integer, minimum: 1}, description: Positive topic identifier., example: 1}, $ref: '#/components/parameters/ClientSecretHeader']
      responses:
        '200': {description: Creator information, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/index/getuserchannelfilters:
    get:
      tags:
      - Settings and devices
      summary: Get the account's channel filters
      operationId: getTheAccountSChannelFilters
      description: Get the account's channel filters. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Channel filters, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/is-follow-approvel:
    get:
      tags:
      - Relationships
      summary: Get follow-approval status
      operationId: getFollowApprovalStatus
      description: Get follow-approval status. A logged-in account bearer token and the Client-Secret header are required.

      x-eksi-auth-mode: account
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Follow-approval status, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/index/setchannelfilter:
    post:
      tags:
      - Settings and devices
      summary: Set account channel filters
      operationId: setAccountChannelFilters
      description: Set account channel filters. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/pushnotification/setpreferences:
    post:
      tags:
      - Settings and devices
      summary: Set push-notification preferences
      operationId: setPushNotificationPreferences
      description: Set push-notification preferences. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/pushnotification/register:
    post:
      tags:
      - Settings and devices
      summary: Register a push-notification device
      operationId: registerAPushNotificationDevice
      description: Register a push-notification device. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/pushnotification/unregister:
    post:
      tags:
      - Settings and devices
      summary: Unregister a push-notification device
      operationId: unregisterAPushNotificationDevice
      description: Unregister a push-notification device. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/set-profile-biography:
    post:
      tags:
      - Profiles
      summary: Set the profile biography
      operationId: setTheProfileBiography
      description: Set the profile biography. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: high
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {type: object, required: [BiographyText], properties: {BiographyText: {type: string}}}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/remove-profile-biography:
    post:
      tags:
      - Profiles
      summary: Remove the profile biography
      operationId: removeTheProfileBiography
      description: Remove the profile biography. A logged-in account bearer token and the Client-Secret header are required. This operation is destructive and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: high-destructive
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/add-pinned-entry:
    post:
      tags:
      - Profiles
      summary: Pin an entry to the profile
      operationId: pinAnEntryToTheProfile
      description: Pin an entry to the profile. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/remove-pinned-entry:
    post:
      tags:
      - Profiles
      summary: Remove a pinned profile entry
      operationId: removeAPinnedProfileEntry
      description: Remove a pinned profile entry. A logged-in account bearer token and the Client-Secret header are required. This operation changes account state and must not be retried automatically.

      x-eksi-auth-mode: account
      x-eksi-risk: medium
      parameters:
      - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody: {required: true, content: {application/x-www-form-urlencoded: {schema: {$ref: '#/components/schemas/IdForm'}}}}
      responses:
        '200': {description: Write result, content: {application/json: {schema: {$ref: '#/components/schemas/ApiResponse'}}}}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user/indextitlesblock:
    post:
      tags:
      - Relationships
      summary: Hide a user's topics from index views
      operationId: hideAUserSTopicsFromIndexViews
[...]
